<form class="example-form">
  <mat-form-field class="example-input" appearance="fill">
    <mat-label>Search Pokemon</mat-label>
    <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. Charizard">
    <button matSuffix mat-icon-button (click)="getPokemon()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="flex-container">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let pokemon of pokemons | async">
      <app-pokemon-card [poke]="pokemon"></app-pokemon-card>
    </div>
  </div>
</div>
